<section class="bg-white my-8 ring-1 ring-secondary-border rounded-lg flex flex-row max-md:flex-col">
    <div class="image-wrapper rounded-lg max-md:rounded-none">
        <img class="h-full rounded-l-lg mr-6 max-md:rounded-l-none max-md: w-full" src="assets/images/profile-pic.png" alt="User profile">
    </div>
    <div class="p-6 flex flex-col justify-between">
        <h3 class="text-lg">Profile image</h3>
        <div class="buttons-container flex">
            <button class="btn btn-primary mr-4 my-2" type="button">Replace</button>
            <button class="btn btn-secondary my-2" type="button">Remove</button>
        </div>
    </div>
</section>