<header>
    <nav>
        <a href="#">
			<img src="" alt="Switch Together">
			<img src="" alt="Switch Together" class="logo-reduced">
			<img src="" alt="Layers" class="logo-partner">
			<span>Switch Together x Layers</span>
		</a>

        <div>
            <button class="help-button" type="button">Help</button>
            <app-user-avatar />
        </div>

        <button type="button">
			<span>Open main menu</span>
			<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" fill="none">
				<path d="M1 7H19M1 1H19M1 13H19" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</button>
    </nav>
</header>