<section>
    <table>
        <caption class="visually-hidden">
            Launches
        </caption>
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Launches</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <span class="status-tag">Active</span>
              </td>
              <td>
                <span class="launches-count">42</span>
              </td>
            </tr>
        </tbody>
    </table>
</section>